
.wrap {
  @apply bg-white px-4 py-12 shadow-md;
  //background-color: var(--bg-color-el);
  background-color: transparent;
  box-shadow: var(--shadow);
  border-radius: 20px;
}

.title {
  @apply font-bold text-center mb-6 text-3xl font-mork ;
}

.descr {
  @apply  text-center text-2xl;
}