
.wrap {
  @apply relative px-4 py-4 rounded-sm w-full md:w-[48%] lg:w-[30%] xl:w-[30%] 2xl:w-[24%] transition-colors duration-700 overflow-hidden;
  //background-color: var(--bg-color-el);
  background-color: transparent;
  box-shadow: var(--shadow);
  border-radius: 20px;
  .image {
    @apply mb-4 ;
    img {
      @apply rounded-full w-[200px] h-[200px] object-cover mx-auto ;
    }
  }

  .title{
    @apply text-center text-3xl font-bold mb-3 font-mork ;
  }
  .price{
    @apply text-center mb-3 font-mork text-3xl ;
  }
  .description{
    @apply text-center text-2xl ;
  }
  
  .lent {
    @apply absolute -top-2 -right-2 w-32 h-32 ;
  }

  .xit {
    @apply absolute top-4 right-3 text-3xl font-lob rotate-45 ;
  }
  
}