
.header {
  background-image: var(--bg-header);
  @apply border-b-[1px] px-2 py-2 fixed top-0 w-full z-50 transition-all duration-700 bg-cover bg-no-repeat;
  //background-color: var( --bg-color-el);
  border-color: var(--bg-border);
}

.row {
  @apply flex justify-between items-center ; 

  .logo {
    @apply cursor-pointer ;
    img {
      @apply w-36 ;
    }
  }

  .body {
    @apply flex relative ;
  }

  .icon {
    @apply absolute cursor-pointer top-1/2 right-16 -translate-y-1/2 md:right-40 lg:right-0 ;
  }

  .btn {
    background-color: var( --btn-bg);
    color: var( --btn-color-text);
    @apply px-4 py-2 rounded-md hidden md:block ;
  }
}


.burger {
  @apply text-3xl lg:hidden ;
  color: var( --color-burger);
}


.burgerNav {
  background-image: var(--bg-header);
  @apply fixed top-0 right-0 left-0 bottom-0 transition-all duration-500 
    flex flex-col items-center justify-center border-l-2 z-40 bg-cover bg-no-repeat ;
    //background-color: var(--bg-color-burger);
    border-color: var(--bg-border);
}

.close {
  @apply absolute top-7 right-3 text-3xl ;
  color: var(--color-burger);
}

.item {
  @apply uppercase font-lob font-bold mb-10 ;
}