@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color : #000;
  --color : #fff;
  --text-red : #fe1020;
  --bg-red : #fe1020;
  --bg-gray : #f7f7f7;
  --bg-que : #efefef;
  --bg-footer : #1d2e3f;

  --swiper-navigation-size : 25px;
  --swiper-pagination-color: red;
}

body {
  background-color: var( --bg-color-body);
  color: var(--text-color);
  @apply font-roboto transition-colors duration-700;
}

.swiper-button-next {
  color: red;
}
.swiper-button-next ::after {
  width: 10px;
}
.swiper-button-prev {
  color: red;
}





html[data-theme='light'] {
  --bg-color-body : #fff;
  --bg-color-el : #F8F8F8;
  --btn-bg : #000;
  --btn-color-text : #fff;
  --color-burger : #000;
  --bg-color-burger : rgb(248 250 252);
  --text-color : #000;
  --border-bg-red :  #fe1020;
  --text-red : #fe1020;
  --bg-gray : #f7f7f7;
  --bg-que : #efefef;
  --bg-footer : #1d2e3f;
  --text-color-footer : #fff;
  --bg-border : #bdb4b4;
}


html[data-theme='dark'] {
  --bg-color-body : #2e2b2b;
  --bg-color-el : #160d15;
  --btn-bg : #1f0a33;
  --btn-color-text : #fff;
  --color-burger : #fff;
  --bg-color-burger : #160d15;
  --text-color : #fff;
  --border-bg-red :  #fe1020;
  --text-red : #fe1020;
  --bg-gray : #1d1a20;
  --bg-que : #3a0741;
  --bg-footer : #041a30;
  --text-color-footer : #fff;
  --bg-border : #940e0e;
}