@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color : #000;
  --color : #fff;
  --text-red : #fe1020;
  --bg-red : #fe1020;
  --bg-gray : #f7f7f7;
  --bg-que : #efefef;
  --bg-footer : #1d2e3f;

  --swiper-navigation-size : 25px;
  --swiper-pagination-color: red;
}

body {
  @apply font-roboto ;
}

.swiper-button-next {
  color: red;
}
.swiper-button-next ::after {
  width: 10px;
}
.swiper-button-prev {
  color: red;
}