

.popapWrap {
  @apply relative lg:hidden mt-4 mb-4 ;
}

.top {
  @apply border px-4 py-2 flex items-center justify-between ;
  border-color: var(--bg-red);
  .filter {
    color: var(--text-red)
  }
  .icon{
    @apply text-2xl ;
  }
}


.bottom {
  @apply absolute top-12 left-0  bg-white w-full border;
  border-color: var(--bg-red);


  .item {
    @apply px-5 py-2 ;
    color: var(--text-red);
  }
}