

.popapWrap {
  @apply relative lg:hidden mt-32 md:mt-28 mb-4 ;
}

.top {
  @apply border px-4 py-2 flex items-center justify-between transition-colors duration-700;
  border-color: var(--border-bg-red);
  background-color: var(--bg-color-el);
  .filter {
    color: var(--text-red)
  }
  .icon{
    @apply text-2xl ;
  }
}


.bottom {
  @apply absolute top-12 left-0 w-full border transition-colors duration-700;
  border-color: var(--border-bg-red);


  .item {
    @apply px-5 py-2 transition-colors duration-700 ;
    color: var(--text-red);
    background-color: var(--bg-color-el);
  }
}